.git
.gitignore
.idea
.vscode
.fleet
.zed
.env
.env.*
!.env.example
node_modules
vendor
public/build
public/hot
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/pail
bootstrap/cache/*.php
